.contactSection {
  color: #dad2d2;
  position: absolute;
  top: 140px;
  left: 40px;
  padding: 40px;
  border-radius: 10px;
  max-width: 100%;
  margin: 40px auto;
  width: 90%;
}

.subtitle {
  font-size: 16px;
  margin-bottom: 20px;
}

.title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.categoryButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.categoryButton {
  background: transparent;
  color: #c7c7c7;
  min-width: 100px;
  height: auto;
  border: 1px solid #C7C7C7;
  padding: 10px 15px;
  border-radius: 24px;
  cursor: pointer;
}

.categoryButton.active {
  background-color: #e91e63;
  border-color: #e91e63;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.inputGroup {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.inputGroup input {
  flex: 1;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #4D4D4D;
  border-radius: 0;
  background-color: transparent;
  color: #dad2d2;
  outline: none;
  resize: none;
  margin-bottom: 15px;
  width: 100%;
}

.inputGroup input::placeholder {
  color: #dad2d2;
  font-size: 16px;
}

.textarea {
  display: flex;
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #4D4D4D;
  border-radius: 0;
  background-color: transparent;
  color: #FFFFFF;
  outline: none;
  resize: none;
}

.textarea::placeholder {
  color: #dad2d2;
  font-size: 16px;
}

.attachment {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 100%;
}

.uploadBox {
  width: 100%;
  border: 1px dashed #4D4D4D;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
  background-color: #111111;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.uploadBox:hover {
  background-color: #2a2a2a;
}

.uploadIcon {
  font-size: clamp(1.5rem, 3vw, 2rem);
  color: #C7C7C7;
}

.chooseFiles {
  color: #FE4A82;
  cursor: pointer;
}

.uploadText {
  color: #FFFFFF;
  font-size: clamp(8px, 1.5vw, 10px);
}

.submitButton {
  width: 150px;
  height: 40px;
  background-color: #5563E8;
  color: #FFFFFF;
  padding: 10px 15px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #357abd;
}

.error {
  color: red;
  font-size: 12px;
}

@media (max-width: 768px) {
  .contactSection {
    padding: 20px;
  }
  
  .inputGroup {
    justify-content: start;
    flex-direction: column;
    gap: 5px;
  }
}

@media (max-width: 480px) {
  .contactSection{
    top: 10px;
  }
  .categoryButtons {
    justify-content: start;
  }

}
